{% extends "base.html" %}

{% load static %}

{% block title %}Короткая ссылка успешно создана{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="{% static "shortener/css/style.css" %}">
{% endblock extra_head %}

{% block content %}
<div class="success-card">
    <div class="success-title">Ссылка успешно создана!</div>
    <div class="success-message">Cсылка была успешно добавлена в ваш профиль.</div>
    <div class="success-message">
        <p>URL код:</p>
        <b>{{short_url.code}}</b> 
    </div>
    <div class="success-message">
        <p>Короткая ссылка:</p>
        {% with href_url='http://127.0.0.1:8000/u/'|add:short_url.code|add:'/' %}
        <a class="success-link" href="{{href_url}}">{{href_url}}</a>
        {% endwith %}
    </div>
    <div class="success-message">
        <p>Целевая ссылка:</p>
        <a class="success-link" href="{{short_url.url}}">{{short_url.url}}</a>
    </div>
    <div class="success-btn-container">
        <a class="success-btn" href="{% url "shortener:create-short-url" %}">Создать новую ссылку</a>
        <a class="success-btn" href="{% url "shortener:list-short-url" %}">Список ссылок</a>
    </div>
</div>
{% endblock content %}