{% extends "base.html" %}

{% load static %}

{% block title %}Детали короткой ссылки "{{object.title}}"{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="{% static "shortener/css/style.css" %}">
{% endblock extra_head %}

{% block content %}
<div class="short-url-detail-container">
    <h4 class="short-url-detail-h4">Детали ссылки</h4>
    <div class="short-url-detail-fields-container">
        <div class="short-url-detail-field-group">
            <label>Название:</label>
            <p>{{object.title}}</p>
        </div>
        <div class="short-url-detail-field-group">
            <label>Целевая ссылка:</label>
            <p><a href="{{object.url}}">{{object.url}}</a></p>
        </div>
        <div class="short-url-detail-field-group">
            <label>Короткая ссылка:</label>
            <p><a href="http://127.0.0.1:8000/u/{{object.code}}/">http://127.0.0.1:8000/u/{{object.code}}/</a></p>
        </div>
    </div>
    <div class="short-url-detail-actions">
        <a style="color: black" href="{% url "shortener:list-short-url" %}" class="short-url-action-button">↩</a>
        <a href="#" class="short-url-action-button">✏️</a>
        <a href="#" class="short-url-action-button">🗑️</a>
    </div>
</div>
{% endblock content %}