{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% block extra_head %}{% endblock extra_head %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header class="header">
        <nav class="nav">
            <ul class="nav-list">
                {% comment %} Временно на home {% endcomment %}
                <li class="nav-item"><a href="{% url "home" %}" class="nav-link">Главная</a></li>
            </ul>
            {% if user.is_authenticated %}
            <div class="nav-right">
                <form method="post" action="{% url "users:logout" %}">
                    {% csrf_token %}
                    <button type="submit" class="nav-link nav-link-logout">Выход</button>
                </form>
            </div>
            {% else %}
            <div class="nav-right">
                <a href="{% url "users:login" %}" class="nav-link">Войти</a>
            </div>
            {% endif %}
        </nav>
    </header>
    {% block content %}{% endblock content %}
</body>
</html>